{% extends 'base.html.twig' %}

{% block title %}Bienvenu sur LIKEY !
{% endblock %}
{% block body %}

	<!-- Part : catalogues des marques -->
	<div class="container mt-3">

		<h2 class="header-text-h3">Notre catalogue</h2>

		<div class="text-header-form">
			<p>Voici un échantillon de marque présentes sur Likey, vous souhaitez voir plus en détail les marques présentes sur Likey, 
																																																																																																																																																																										rien de plus simple, inscriver vous en tant qu'influenceur, puis connecter vous pour voir le catalogue complet des marques.</p>
			<p>Regarder nôtre catalogue complet directement depuis vôtre espace membre !</p>
			<a class="link-form" href="{{path('app_login')}}">Accéder maintenant aux offres</a>

		</div>

		<h2>Galerie des marques</h2>
		<div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-3">
			<div class="col mb-4">
				<div class="card">
					<img src="{{ asset('build/images/sephora.jpg') }}" class="card-img-top" alt="logo maquillage">
					<div class="card-body">
						<h5 class="card-title">Sephora</h5>
						<p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
					</div>
				</div>
			</div>
			<div class="col mb-4">
				<div class="card">
					<img src="{{ asset('build/images/uber-eats.png') }}" class="card-img-top" alt="logo Uber Eats">
					<div class="card-body">
						<h5 class="card-title">
							Uber Eats</h5>
						<p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
					</div>
				</div>
			</div>
			<div class="col mb-4">
				<div class="card">
					<img src="{{ asset('build/images/canon.jpg') }}" class="card-img-top" alt="logo canon">
					<div class="card-body">
						<h5 class="card-title">CANON</h5>
						<p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
					</div>
				</div>
			</div>
			<div class="col mb-4">
				<div class="card">
					<img src="{{ asset('build/images/mini.png') }}" class="card-img-top" alt="logo mini">
					<div class="card-body">
						<h5 class="card-title">MINI</h5>
						<p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
					</div>
				</div>
			</div>
			<div class="col mb-4">
				<div class="card">
					<img src="{{ asset('build/images/azus.png') }}" class="card-img-top" alt="logo azus">
					<div class="card-body">
						<h5 class="card-title">AZUS</h5>
						<p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
					</div>
				</div>
			</div>
			<div class="col mb-4">
				<div class="card">
					<img src="{{ asset('build/images/deco.jpg') }}" class="card-img-top" alt="logo formation">
					<div class="card-body">
						<h5 class="card-title">Maison du monde</h5>
						<p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
					</div>
				</div>
			</div>
			<div class="col mb-4">
				<div class="card">
					<img src="{{ asset('build/images/igraal.jpg') }}" class="card-img-top" alt="logo igraal">
					<div class="card-body">
						<h5 class="card-title">IGRAAL</h5>
						<p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
					</div>
				</div>
			</div>
			<div class="col mb-4">
				<div class="card">
					<img src="{{ asset('build/images/spotify.png') }}" class="card-img-top" alt="logo spotify">
					<div class="card-body">
						<h5 class="card-title">SPOTIFY</h5>
						<p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
					</div>
				</div>
			</div>
			<div class="col mb-4">
				<div class="card">
					<img src="{{ asset('build/images/netflix.jpg') }}" class="card-img-top" alt="logo netflix">
					<div class="card-body">
						<h5 class="card-title">NETFLIX</h5>
						<p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
					</div>
				</div>
			</div>
		</div>

	</div>

{% endblock %}
