{% extends 'base.html.twig' %}

{% block title %}Bienvenu sur LIKEY !
{% endblock %}
{% block body %}

	<main class="w-full mt-4">
		<div class="max-w-md px-4 mx-auto sm:max-w-3xl sm:px-6 lg:max-w-7xl lg:px-8">
			<div class="relative px-6 py-10 overflow-hidden shadow-xl rounded-2xl bg-rose-500 sm:px-12 sm:py-20">
				<div aria-hidden="true" class="absolute inset-0 -mt-72 sm:-mt-32 md:mt-0">
					<svg class="absolute inset-0 w-full h-full" preserveaspectratio="xMidYMid slice" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 1463 360">
						<path class="text-rose-400 text-opacity-40" fill="currentColor" d="M-82.673 72l1761.849 472.086-134.327 501.315-1761.85-472.086z"></path>
						<path class="text-rose-600 text-opacity-40" fill="currentColor" d="M-217.088 544.086L1544.761 72l134.327 501.316-1761.849 472.086z"></path>
					</svg>
				</div>
				<div class="relative">
					<div class="sm:text-center">
						<h2 class="text-3xl font-extrabold tracking-tight text-white sm:text-4xl">
							Bienvenue sur LIKEY
						</h2>
						<p class="max-w-2xl mx-auto mt-6 text-lg text-rose-100">
							<i>LIKEY</i>
							met en relation des influenceurs et des marques dans le but de créer un partenariat. Connectez-vous pour voir les offres disponibles !
						</p>
						<a href="{{path('register_index')}}" role="button" class="btn btn-primary px-5">Se connecter</a>
					</div>

				</div>
			</div>
		</div>

		<!-- card offres : 4 dernières offres affichées -->
		<h3 class="header-text-h3">
			Dernières offres publiées</h3>

		<div class="flex items-center justify-center mt-4">
			<div class="grid grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-4 xl:grid-cols-4">
				{% for offer in offers  %}
					<!-- card offert-->
					<div class="relative bg-white py-6 px-6 rounded-3xl w-64 my-4 shadow-xl">
						<div
							class=" text-white flex items-center absolute rounded-full py-4 px-4 shadow-xl bg-blue-500 left-4 -top-6 mb-4">
							<!-- svg  -->
							<svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="none" viewbox="0 0 24 24" stroke="currentColor">
								<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 11H5m14 0a2 2 0 012 2v6a2 2 0 01-2 2H5a2 2 0 01-2-2v-6a2 2 0 012-2m14 0V9a2 2 0 00-2-2M5 11V9a2 2 0 012-2m0 0V5a2 2 0 012-2h6a2 2 0 012 2v2M7 7h10"/>
							</svg>
						</div>
						<div class="mt-8 mb-4">
							<p class="text-xl font-semibold my-2">{{ offer.name|capitalize }}</p>
							<div
								class="flex space-x-2 text-gray-400 text-sm">
								<!-- svg  -->
								<svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewbox="0 0 24 24" stroke="currentColor">
									<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"/>
									<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"/>
								</svg>
								<p>{{ offer.field ? offer.field|join(', ') : null}}</p>
							</div>
							<div
								class="flex space-x-2 text-gray-400 text-sm my-3">
								<!-- svg  -->
								<svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewbox="0 0 24 24" stroke="currentColor">
									<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"/>
								</svg>
								<p>
									Début
									{{ offer.dateStart ? offer.dateStart|date('d/m/Y') : 'NC'}}
								</p>
							</div>

							<div
								class="flex space-x-2 text-gray-400 text-sm my-3">
								<!-- svg  -->
								<svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewbox="0 0 24 24" stroke="currentColor">
									<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"/>
								</svg>
								<p>
									Fin
									{{ offer.dateStart ? offer.dateEnd|date('d/m/Y') : 'NC'}}
								</p>
							</div>

							<div class="border-t-2 "></div>

							<div class="flex justify-between">
								<div class="my-2">
									<p class="font-semibold text-base mb-2">Description</p>
									<div class="flex space-x-2">
										<p>
											{{ offer.description ? offer.description|slice(0, 80) : 'NC'}}
											...
										</p>
									</div>
								</div>
							</div>
						</div>

						<div class="border-t-2 mb-2"></div>

						<div>
							<pclass="font-semiboldtext-basemb-2">Accéder à l'offre</p>
							{% if not app.user %}
								<a class="ml-3 btn btn-secondary" href="{{path('app_login')}}">
									Se connecter
								</a>
							{% else %}
								{% for role in app.user.roles %}
									{% if role == "ROLE_INFLUENCEUR" %}
										<a href="{{ path('offer_show', {'id': offer.id}) }}" class="waves-effect waves-light btn btn-primary">Voir l'offre</a>
									{% endif %}
								{% endfor %}
							{% endif %}
						</div>
					</div>
				{% endfor %}
			</div>
		</div>

		<!-- Fake influenceurs présents sur le site-->

		<h3 class="header-text-h3">Influenceurs présents sur Likey</h3>
		<div class="p-10 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-4 gap-5">
			<div class="rounded overflow-hidden shadow-lg">
				<img src="{{ asset('build/images/tibo_inshape.jpg') }}" alt="" class="card-img-top">
			</div>
			<div class="rounded overflow-hidden shadow-lg">
				<img src="{{ asset('build/images/cyprien.jpg') }}" alt="" class="card-img-top">
			</div>
			<div class="rounded overflow-hidden shadow-lg">
				<img src="{{ asset('build/images/squeezie.jpg') }}" alt="" class="card-img-top">
			</div>
			<div class="rounded overflow-hidden shadow-lg">
				<img src="{{ asset('build/images/lena-situation.jpg') }}" alt="" class="card-img-top">
			</div>
			<div class="rounded overflow-hidden shadow-lg">
				<img src="{{ asset('build/images/inoxtag.jpg') }}" alt="" class="card-img-top">
			</div>
			<div class="rounded overflow-hidden shadow-lg">
				<img src="{{ asset('build/images/natoo.jpg') }}" alt="" class="card-img-top">
			</div>
			<div class="rounded overflow-hidden shadow-lg">
				<img src="{{ asset('build/images/enjoy-phoenix.jpg') }}" alt="" class="card-img-top">
			</div>
			<div class="rounded overflow-hidden shadow-lg">
				<img src="{{ asset('build/images/mister-v.jpg') }}" alt="" class="card-img-top">
			</div>
		</div>


		<h3 class="header-text-h3">Notre catalogue</h3>
		<!-- Part : catalogues des marques -->
		<div class="container">
			<div class="text-header-form">
				<p>Voici un échantillon de marque présentes sur Likey, vous souhaitez voir plus en détail les marques présentes sur Likey, 
																																																																																																																																																																																																																																																																																																																																																																																							rien de plus simple, inscriver vous en tant qu'influenceur, puis connecter vous pour voir le catalogue complet des marques.</p>
				<p>Regarder nôtre catalogue complet directement depuis vôtre espace membre !</p>
				<a class="link-form" href="{{path('app_login')}}">Accéder maintenant aux offres</a>

			</div>

			<h4>Galerie des marques</h4>

			<div class="p-10 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-4 gap-5">

				<div class="rounded overflow-hidden shadow-lg">
					<img src="{{ asset('build/images/canon.jpg') }}" class="card-img-top" alt="logo canon">
					<div class="px-6 py-4">
						<div class="font-bold text-xl mb-2">Canon</div>
					</div>
				</div>
				<div class="rounded overflow-hidden shadow-lg">
					<img src="{{ asset('build/images/sephora.jpg') }}" class="card-img-top" alt="logo maquillage">
					<div class="px-6 py-4">
						<div class="font-bold text-xl mb-2">Sephora</div>
					</div>
				</div>
				<div class="rounded overflow-hidden shadow-lg">
					<img src="{{ asset('build/images/uber-eats.png') }}" class="card-img-top" alt="logo Uber Eats">
					<div class="px-6 py-4">
						<div class="font-bold text-xl mb-2">Uber Eats</div>
					</div>
				</div>
				<div class="rounded overflow-hidden shadow-lg">
					<img src="{{ asset('build/images/apple.jpg') }}" class="card-img-top" alt="logo apple">
					<div class="px-6 py-4">
						<div class="font-bold text-xl mb-2">Apple</div>
					</div>
				</div>
				<div class="rounded overflow-hidden shadow-lg">
					<img src="{{ asset('build/images/spotify.png') }}" class="card-img-top" alt="logo spotify">
					<div class="px-6 py-4">
						<div class="font-bold text-xl mb-2">spotify</div>
					</div>
				</div>
				<div class="rounded overflow-hidden shadow-lg">
					<img src="{{ asset('build/images/igraal.jpg') }}" class="card-img-top" alt="logo igraal">
					<div class="px-6 py-4">
						<div class="font-bold text-xl mb-2">Igraal</div>
					</div>
				</div>
				<div class="rounded overflow-hidden shadow-lg">
					<img src="{{ asset('build/images/azus.png') }}" class="card-img-top" alt="logo azus">
					<div class="px-6 py-4">
						<div class="font-bold text-xl mb-2">Azus</div>
					</div>
				</div>
				<div class="rounded overflow-hidden shadow-lg">
					<img src="{{ asset('build/images/netflix.jpg') }}" class="card-img-top" alt="logo netflix">
					<div class="px-6 py-4">
						<div class="font-bold text-xl mt-2 mb-2">Netflix</div>
					</div>
				</div>
			</div>
		</div>
	</main>
{% endblock %}
