{% extends 'base.html.twig' %}

{% block title %}Bienvenu sur LIKEY !
{% endblock %}
{% block body %}

	<h3 class="header-text-h3">Catégorie des offres</h3>
	<div
		class="p-10 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3 gap-5">

		<!--Card 1 : Instagram -->
		<div class="rounded overflow-hidden shadow-lg">
			<img src="{{ asset('build/images/instagramer.jpg') }}" class="card-img-top" alt="logo instagramers">
			<div class="px-6 py-4">
				<div class="font-bold text-xl mb-2">Instagram</div>
				<p class="text-gray-700 text-base">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
				</p>
			</div>
			<div class="px-6 pt-4 pb-2">
				<span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#insta</span>
				<span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#story</span>
				<span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#photo</span>
			</div>
		</div>
		<!--Card 2 : Gaming -->
		<div class="rounded overflow-hidden shadow-lg">
			<img src="{{ asset('build/images/gaming.jpg') }}" class="card-img-top" alt="logo gaming">
			<div class="px-6 py-4">
				<div class="font-bold text-xl mb-2">Gaming</div>
				<p class="text-gray-700 text-base">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
				</p>
			</div>
			<div class="px-6 pt-4 pb-2">
				<span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#gaming</span>
				<span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#jeux-video</span>
				<span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#play</span>
			</div>
		</div>

		<!--Card 3 : Décoration -->
		<div class="rounded overflow-hidden shadow-lg">
			<img src="{{ asset('build/images/deco.jpg') }}" class="card-img-top" alt="logo deco">
			<div class="px-6 py-4">
				<div class="font-bold text-xl mb-2">Déco</div>
				<p class="text-gray-700 text-base">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
				</p>
			</div>
			<div class="px-6 pt-4 pb-2">
				<span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#deco</span>
				<span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#home</span>
				<span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#meubles</span>
			</div>
		</div>


		<!--Card 4-: Alimentation -->
		<div class="rounded overflow-hidden shadow-lg">
			<img src="{{ asset('build/images/alimentation.jpg') }}" class="card-img-top" alt="logo alimentation">
			<div class="px-6 py-4">
				<div class="font-bold text-xl mb-2">Alimentation</div>
				<p class="text-gray-700 text-base">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
				</p>
			</div>
			<div class="px-6 pt-4 pb-2">
				<span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#food</span>
				<span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#nourriture</span>
				<span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#alimentation</span>
				<span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#manger</span>
			</div>
		</div>
		<!--Card 5 : Musique-->
		<div class="rounded overflow-hidden shadow-lg">
			<img src="{{ asset('build/images/musique.jpg') }}" class="card-img-top" alt="logo musique">
			<div class="px-6 py-4">
				<div class="font-bold text-xl mb-2">Musique</div>
				<p class="text-gray-700 text-base">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
				</p>
			</div>
			<div class="px-6 pt-4 pb-2">
				<span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#musique</span>
				<span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#chanson</span>
				<span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#music</span>
			</div>
		</div>

		<!--Card 6 : Maquillage-->
		<div class="rounded overflow-hidden shadow-lg">
			<img src="{{ asset('build/images/maquillage.jpg') }}" class="card-img-top" alt="logo maquillage">
			<div class="px-6 py-4">
				<div class="font-bold text-xl mb-2">Maquillage</div>
				<p class="text-gray-700 text-base">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
				</p>
			</div>
			<div class="px-6 pt-4 pb-2">
				<span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#makeup</span>
				<span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#maquillage</span>
				<span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#soins</span>
			</div>
		</div>
	</div>


{% endblock %}
