{% extends 'base.html.twig' %}


{% block title %}
	Partenariats
{% endblock %}


{% block body %}
<div class="container mt-5">
	<h1>Mes partenariats</h1>
	{% if partnerships is empty %}
		<p>Il n'y a pas de partenariats pour le moment.</p>
	</br>
	<p>Veuillez d'abords valider des candidatures</p>
</div>
	{% endif %}

{% for partnership in partnerships %}
{% if app.user.roles[0] == "ROLE_INFLUENCEUR"  %}
	<div class="container mt-5">
		<div class="mb-3 card">
			<div class="card-body">
				<p>Nom de la marque :
					{{ collaborators[loop.index0].name }}
				</p>
				<p>Nom de l'offre:
					{{ partnership.name }}
				</p>
				<p>Description de l'offre:
					{{ partnership.description }}
				</p>
			</div>
		{% elseif  app.user.roles[0] == "ROLE_MARQUE" %}
			<div class="card mb-3">
				<div class="card-body">
					<p>Nom de l'influenceur : 
						<a href="{{ path('influencer_show', {'username': collaborators[loop.index0].name }) }}" >{{ collaborators[loop.index0].name }}
						</a>
					</p>
					<p>Nom de l'offre: {{ partnership.name }} </p>
					<p>Description de l'offre: {{ partnership.description }} </p>
					<button type="submit"  id="checkout-button"  class="btn btn-warning">Payer votre influenceur</button>
				</div>
			</div>
		</div>
	</div>

		{% endif %}	
	{% endfor %}


{% endblock %}


{% block javascripts %}
    <script type="text/javascript">
      // Create an instance of the Stripe object with your publishable API key
      var stripe = Stripe('pk_test_51J4s40JmgFZZr5aDe3augCEZqrQkDNNOpOtr0lZBjgKpZ4EBKI7mw52mYP1jH7nu9taby3Rs7Ln1ajezYm4O6Mjt00Y9BFFlcj');
      var checkoutButton = document.getElementById('checkout-button');

      checkoutButton.addEventListener('click', function() {
        // Create a new Checkout Session using the server-side endpoint you
        // created in step 3.
        fetch('/create-checkout-session', {
          method: 'POST',
        })
        .then(function(response) {
          return response.json();
        })
        .then(function(session) {
          return stripe.redirectToCheckout({ sessionId: session.id });
        })
        .then(function(result) {
          // If `redirectToCheckout` fails due to a browser or network
          // error, you should display the localized error message to your
          // customer using `error.message`.
          if (result.error) {
            alert(result.error.message);
          }
        })
        .catch(function(error) {
          console.error('Error:', error);
        });
      });
    </script>
{% endblock %}
