{% extends 'base.html.twig' %}

{% block title %}Bienvenu sur LIKEY !
{% endblock %}

{% block body %}

<br>
<div class="paragraph center">
	<b>LIKEY</b>
	permet la mise en relation</br>
des talents avec des marques d'execption ! 🦄</div><div class="paragraph2 center">
Tu es
<strong>Youtuber</strong>,
<strong>Influencers</strong>,
<strong>Gamer</strong>
ou
<strong>Bloger</strong></br>et tu souhaite faire un partenariat ou</br>une collaboration avec les plus<strong>&nbsp;grandes marques</strong>?</div><br/><div class="center normal-s">Te voilà sur le bon site 😉</div>{% if offer is defined %}{% for offer in offers  %}<div class="card brown lighten-5 z-depth-2">
<div class="card-content">
	<span class="card-title">{{ offer.name|capitalize }}
	</span>
	<p>Description :
		{{ offer.decription ? offer.decription|slice(0, 50) : 'NC'}}
	</p>
	<p>Dates :
		{{ offer.dateStart ? offer.dateStart|date('m/d/Y') : 'NC'}}
		-
		{{ offer.dateEnd ? offer.dateEnd|date('m/d/Y') : 'NC'}}
	</p>
</div>
<div class="card-action">
	<a href="{{ path('offer_show', {'id': offer.id}) }}" class="waves-effect waves-light btn">Voir l'offre</a>
</div></div>{% endfor %}{% else %}<br/><br/><br/><div class="paragraph4 center"><em>
<em class="mark normal-s">
	<b>LIKEY</b>
	vient de tout juste d'arriver, des nouvelles offres arrivent très prochainement</em></em><p class="normal-s">
<i>Stay tuned ! 🚀
</i></p></mark></p></div>{% endif %}{% endblock %}
