{% extends 'base.html.twig' %}

{% block title %}Offres
{% endblock %}


{% block body %}
	<div class="container pt-5">
		<h2 class="pb-5">
			Liste des offres
		</h2>
		{% if app.user.roles[0] == "ROLE_MARQUE" and brand.offers|length < 0 %}
			<p>Vous n'avez pas d'offre de créer pour le moment.</p>
		{% else %}
			<div id="offer-list-user">
				<div class="mb-5">
					<div class="relative mt-1 rounded-md">
						<input placeholder="Rechercher une offre" type="search" class="block px-4 py-3 border-gray-300 rounded-md fuzzy-search form-input focus:ring-indigo-500 focus:border-indigo-500 pl-9 sm:text-sm" style='width:300px'>
					</div>
				</div>
				<div class="list">
					{% for offer in offers  %}

						{% if brand is not null and offer.brandId.id == brand.id %}
							<div class="mb-3 card">
								<div class="card-body">
									<p class="name">Nom :
										{{ offer.name|capitalize }}</p>
									<p class="description">Description :
										{{ offer.description ? offer.description|slice(0, 50) : 'NC'}}
									</p>
									<p class="field">Domaine :
										{{ offer.field ? offer.field|join(', ') : null}}
									</p>
									<p>Dates de début:
										{{ offer.dateStart ? offer.dateStart|date('d/m/Y') : 'NC'}}
									</p>
									<p>Dates de fin:
										{{ offer.dateEnd ? offer.dateEnd|date('d/m/Y') : 'NC'}}
									</p>
									{% if brand.name is not null %}
										<p class="brand">Créer par
											{{brand.name}}</p>
									{% endif %}
									<a href="{{ path('offer_show', {'id': offer.id}) }}" class="waves-effect waves-light btn btn-primary">Voir l'offre</a>
								</div>
							</div>
						{% endif %}
						{% if app.user.roles[0] == "ROLE_INFLUENCEUR"  %}
							{% if offer.dateEnd > datenow %}
								<div class="mb-3 card">

									<div class="card-body">
										<p class="brand">Marque :
											{{ offer.brandId.name|capitalize }}</p>
										<p class="name">Nom :
											{{ offer.name|capitalize }}</p>
										<p class="description">Description :
											{{ offer.description ? offer.description|slice(0, 50) : 'NC'}}
										</p>

										<p>Dates de début:
											{{ offer.dateStart ? offer.dateStart|date('d/m/Y') : 'NC'}}
										</p>
										<p>Dates de fin:
											{{ offer.dateEnd ? offer.dateEnd|date('d/m/Y') : 'NC'}}
										</p>
										{% set newArray = [] %}
										{% for app in offerApplied %}
											{% if app.offer.id not in newArray %}
												{% if app.offer.id  == offer.id %}
													<div class="mb-3">
														<mark>Vous avez deja postuler a cette offre</mark>
													</div>
													<div class="mb-3">
														{% if app.status == "pending" %}
															<p class="lead">En cours de traitement ✨</p>
														{% endif %}
													</div>
												{% endif %}
												{% set newArray = newArray|merge([app.offer.id]) %}
											{% endif %}
										{% endfor %}
										<div class="card-action">
											<a href="{{ path('offer_show', {'id': offer.id}) }}" class="btn-primary btn">Voir l'offre</a>
										</div>
									</div>
								</div>
							{% endif %}
						{% endif %}
					{% endfor %}
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}
