{% extends 'base.html.twig' %}

{% block title %}Offres
{% endblock %}

{% block body %}
	<h1>Listes des Offres</h1>
	<div>
		{% if offers is empty %}
			<p>Pas d'offres pour le moment</p>
		{% else %}

			{% for offer in offers  %}
				<div class="card mb-3">
					{% if brand is not null and offer.brandId.id == brand.id %}
						<div class="card-body">
							<p>Nom :
								{{ offer.name|capitalize }}</p>
							<p>Description :
								{{ offer.description ? offer.description|slice(0, 50) : 'NC'}}
							</p>
							<p>Domaine :
								{{ offer.field ? offer.field|join(', ') : null}}
							</p>
							<p>Dates de début:
								{{ offer.dateStart ? offer.dateStart|date('d/m/Y') : 'NC'}}
							</p>
							<p>Dates de fin:
								{{ offer.dateEnd ? offer.dateEnd|date('d/m/Y') : 'NC'}}
							</p>
							{% if brand.name is not null %}
								<p>Créer par
									{{brand.name}}</p>
							{% endif %}
							<a href="{{ path('offer_show', {'id': offer.id}) }}" class="waves-effect waves-light btn btn btn-primary">Voir l'offre</a>
						</div>
					{% endif %}
				</div>
				{% if app.user.roles[0] == "ROLE_INFLUENCEUR"  %}
					{% if offer.dateEnd > datenow %}
						<div class="card mb-3">
							<div class="card-body">
								<p>Marque :
									{{ offer.brandId.name|capitalize }}</p>
								<p>Nom :
									{{ offer.name|capitalize }}</p>
								<p>Description :
									{{ offer.description ? offer.description|slice(0, 50) : 'NC'}}
								</p>
								<p>Dates de début:
									{{ offer.dateStart ? offer.dateStart|date('d/m/Y') : 'NC'}}
								</p>
								<p>Dates de fin:
									{{ offer.dateEnd ? offer.dateEnd|date('d/m/Y') : 'NC'}}
								</p>
								<div class="card-action">
									<a href="{{ path('offer_show', {'id': offer.id}) }}" class="btn-primary btn">Voir l'offre</a>
								</div>
							</div>
						</div>
					{% endif %}
				{% endif %}
			{% endfor %}
		{% endif %}
	</div>
{% endblock %}
