{% extends 'base.html.twig' %}

{% block title %}Offres
{% endblock %}


{% block body %}
	<div class="container pt-5">
		<h2 class="pb-5">
			Liste des offres
		</h2>
		{% if app.user.roles[0] == "ROLE_MARQUE" and brand.offers|length <= 0 %}
			<p>Vous n'avez pas d'offre de créer pour le moment.</p>
		{% else %}
			<div id="offer-list-user">
				<div class="mb-5">
					<div class="relative mt-1 rounded-md">
						<input placeholder="Rechercher une offre" type="search" class="block px-4 py-3 border-gray-300 rounded-md fuzzy-search form-input focus:ring-indigo-500 focus:border-indigo-500 pl-9 sm:text-sm" style='width:300px'>
					</div>

			{% for offer in offers  %}
				<div class="card mb-3">
					{% if brand is not null and offer.brandId.id == brand.id %}
						<div class="card-body">
							<p>Nom :
								{{ offer.name|capitalize }}</p>
							<p>Description :
								{{ offer.description ? offer.description|slice(0, 50) : 'NC'}}
							</p>
							<p>Domaine :
								{{ offer.field ? offer.field|join(', ') : null}}
							</p>
							<p>Dates :
								{{ offer.dateStart ? offer.dateStart|date('m/d/Y') : 'NC'}}
								-
								{{ offer.dateEnd ? offer.dateEnd|date('m/d/Y') : 'NC'}}
							</p>
							{% if brand.name is not null %}
								<p>Créer par
									{{brand.name}}</p>
							{% endif %}
							<a href="{{ path('offer_show', {'id': offer.id}) }}" class="waves-effect waves-light btn btn btn-primary">Voir l'offre</a>
						</div>
					{% endif %}
				</div>
				<div class="list">
					{% for offer in offers  %}

						{% if brand is not null and offer.brandId.id == brand.id %}
							<div class="mb-3 card">
								<div class="card-body">
									<p class="name">Nom :
										{{ offer.name|capitalize }}</p>
									<p class="description">Description :
										{{ offer.description ? offer.description|slice(0, 50) : 'NC'}}
									</p>
									<p class="field">Domaine :
										{{ offer.field ? offer.field|join(', ') : null}}
									</p>
									<p>Dates de début:
										{{ offer.dateStart ? offer.dateStart|date('d/m/Y') : 'NC'}}
									</p>
									<p>Dates de fin:
										{{ offer.dateEnd ? offer.dateEnd|date('d/m/Y') : 'NC'}}
									</p>
									{% if brand.name is not null %}
										<p class="brand">Créer par
											{{brand.name}}</p>
									{% endif %}
									<a href="{{ path('offer_show', {'id': offer.id}) }}" class="waves-effect waves-light btn btn-primary">Voir l'offre</a>
								</div>
							</div>
						{% endif %}
						{% if app.user.roles[0] == "ROLE_INFLUENCEUR"  %}
							{% if offer.dateEnd > datenow %}
								<div class="mb-3 card">

									<div class="card-body">
										{% set newArray = [] %}
										{% for app in offerApplied %}
											{% if app.offer.id not in newArray %}
												{% if app.offer.id  == offer.id %}
													<div class="mb-3">
														{% if app.status == "pending" %}
															<div class="flex justify-end">
																<svg class="w-6 h-6 mr-4 text-grey-400" x-description="Heroicon name: outline/clock" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor" aria-hidden="true">
																	<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z"></path>
																</svg>
															</div>
														{% endif %}
														<div class="mb-3">
															<mark>Vous avez déjà postulé à cette offre</mark>
														</div>
													</div>
												{% endif %}
												{% set newArray = newArray|merge([app.offer.id]) %}
											{% endif %}
										{% endfor %}
										<p class="brand">Marque :
											{{ offer.brandId.name|capitalize }}</p>
										<p class="name">Nom :
											{{ offer.name|capitalize }}</p>
										<p class="description">Description :
											{{ offer.description ? offer.description|slice(0, 50) : 'NC'}}
										</p>

										<p>Dates de début:
											{{ offer.dateStart ? offer.dateStart|date('d/m/Y') : 'NC'}}
										</p>
										<p>Dates de fin:
											{{ offer.dateEnd ? offer.dateEnd|date('d/m/Y') : 'NC'}}
										</p>
										<div class="card-action">
											<a href="{{ path('offer_show', {'id': offer.id}) }}" class="btn-primary btn">Voir l'offre</a>
										</div>
									</div>
								</div>
							{% endif %}
						{% endif %}
					{% endfor %}
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}
