{% extends 'base.html.twig' %}

{% block title %}Voir l'offre
{% endblock %}

{% block body %}
	{% set var = [] %}
	{% set newArray = [] %}
	<div class="container pt-5">
		<a href="{{ path('offer_index') }}" class=" text-sm font-medium text-indigo-600 outline-none focus:outline-none border-4 border-transparent hover:text-indigo-800 active:border-transparent active:text-grey-900 transition-all">
			/ Toutes les offres
		</a>
		<hr>
		<h4 class="text-gray-700">
			{{ offer.brandId.name}}
		</h4>
		{% for app in offerApplied %}
			{% if app.offer.id not in newArray %}
				{% if app.offer.id  == offer.id %}
					<div class="mb-3">
						{% if app.status == "pending" %}
							<div class="flex justify-end">
								<div class="relative flex justify-center cursor-pointer group w-28">
									<svg class="w-6 h-6 mr-4 text-grey-400" x-description="Heroicon name: outline/clock" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor" aria-hidden="true">
										<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z"></path>
									</svg>
									<div class="absolute z-10 px-3 py-2 text-xs text-center text-white bg-black rounded-lg opacity-0 pointer-events-none w-28 group-hover:opacity-100 bottom-full -left-1/2 ml-14">
										Offre en cours de traitement
										<svg class="absolute left-0 w-full h-2 text-black top-full" x="0px" y="0px" viewbox="0 0 255 255" xml:space="preserve"><polygon class="fill-current" points="0,0 127.5,127.5 255,0"/></svg>
									</div>
								</div>
							</div>
						{% endif %}
					</div>
				{% endif %}
				{% set newArray = newArray|merge([app.offer.id]) %}
			{% endif %}
		{% endfor %}
		<p class="text-lg text-gray-700	">
			{{ offer.name|capitalize }}</p>
		<p class="text-gray-700">Description :
			{{ offer.description ? offer.description : 'NC'}}
		</p>
		<p class="text-gray-700">Dates de début :
			{{ offer.dateStart ? offer.dateStart|date('d/m/Y') : 'NC'}}
		</p>
		<p class="text-gray-700">Dates de fin :
			{{ offer.dateEnd ? offer.dateEnd|date('d/m/Y') : 'NC'}}
		</p>
		<div class="card-action">
			{% for role in app.user.roles %}
				{% if role == "ROLE_INFLUENCEUR"  %}
					{% for app in offerApplied %}
						{% if offer.id == app.offer.id %}
							{% set var = app.offer.id %}
						{% endif %}
					{% endfor %}

					{% if offer.id != var %}
						<a href="{{ path('offer_apply', {'id': offer.id}) }}" class="inline-block px-6 py-2 text-xs font-medium leading-6 text-center text-white uppercase transition bg-indigo-500 rounded-full shadow ripple hover:shadow-lg hover:bg-indigo-600 focus:outline-none waves-effect">Postuler</a>
					{% else %}
						<p class="font-semibold">
							Vous avez déjà postulé à cette offre.</p>
					{% endif %}

					<div class="container pt-5">
						<div class="row">
							<div class="col-md-12">
								<div
									id="content" class="content content-full-width">
									<!-- begin profile -->
									<div class="profile">
										<div
											class="profile-header">
											<!-- BEGIN profile-header-cover -->
											<div class="profile-header-cover"></div>
											<!-- END profile-header-cover -->
											<!-- BEGIN profile-header-content -->
											<div
												class="profile-header-content">

												<!-- BEGIN profile-header-info -->
												<div class="profile-header-info">
													<h4 class="text-gray-700">
														Commentaires sur l'offre
													</h4>
													<p class="m-b-10">Vous pouvez envoyer ou répondre à un commentaire sur cette offre</p>
												</div>
												<!-- END profile-header-info -->
											</div>
											<!-- END profile-header-content -->
										</div>
									</div>
									<!-- end profile -->

									<div class="container pt-5" id="ajout-commentaire">
										<div class="col-xs2 col-sm3">
											<h4 class="text-gray-700 mb-4">
												Ajouter / Répondre à un commentaire
											</h4>
											{{ form_start(commentForm) }}
											{{ form_row(commentForm.content) }}
											<div id="editor"></div>
											<button class="inline-block px-6 py-2 text-xs font-medium leading-6 text-center text-white uppercase transition bg-indigo-500 rounded-full shadow ripple hover:shadow-lg hover:bg-indigo-600 focus:outline-none waves-effect">
												Valider
											</button>
											{{ form_end(commentForm) }}
										</div>
									</div>

									<!-- begin profile-content -->
									<div
										class="profile-content">
										<!-- begin tab-content -->
										<div
											class="tab-content p-0">
											<!-- begin #profile-post tab -->
											<div
												class="tab-pane fade active show" id="profile-post">
												<!-- begin timeline -->

												<h4 class="text-gray-700 mb-4">
													Liste des commentaires
												</h4>

												{% if (offer.comments is defined) and (offer.comments is not null) %}


													<ul class="timeline">
														{% for comment in offer.comments|reverse %}
															{% if comment.parent == null %}
																<li>
																	<!-- begin timeline-time -->
																	<div class="timeline-time">
																		<span class="date">Le
																			{{comment.createdAt|date("d/m/Y") }}</span>
																		<span class="time">à
																			{{comment.createdAt|date("H:i") }}</span>
																	</div>
																	<!-- end timeline-time -->

																	<!-- begin timeline-icon -->
																	<div class="timeline-icon">
																		<a href="javascript:;">&nbsp;</a>
																	</div>
																	<!-- end timeline-icon -->

																	<!-- begin timeline-body -->
																	<div class="timeline-body">
																		<div class="timeline-header">
																			<span class="userimage">
																				<svg class="w-full h-full text-gray-300" fill="currentColor" viewbox="0 0 24 24">
																					<path d="M24 20.993V24H0v-2.996A14.977 14.977 0 0112.004 15c4.904 0 9.26 2.354 11.996 5.993zM16.002 8.999a4 4 0 11-8 0 4 4 0 018 0z"></path>
																				</svg>
																			</span>
																			<span class="username">
																				<a href="javascript:;">Commentaire de
																					{{comment.user.firstname}}
																					{{comment.user.lastname}}</a>
																				<small></small>
																			</span>
																			<span class="pull-right text-muted">{{ comment.replies|length}}
																				réponse(s)</span>
																		</div>
																		<div class="container pt-2">
																			<p>{{comment.content|raw}}</p>
																		</div>

																		<div class="timeline-footer">
																			<a href="#ajout-commentaire" data-reply data-id="{{comment.id}}" class="inline-block px-6 py-2 text-xs font-medium leading-6 text-center text-white uppercase transition bg-pink-500 rounded shadow ripple hover:shadow-lg hover:bg-pink-600 focus:outline-none waves-effect">
																				Répondre
																			</a>
																		</div>

																		{# On affiche les réponses #}
																		{% for reply in comment.replies %}
																			<div class="timeline-footer">
																				<div class="timeline-header">
																					<span class="userimage">
																						<svg class="w-full h-full text-gray-300" fill="currentColor" viewbox="0 0 24 24">
																							<path d="M24 20.993V24H0v-2.996A14.977 14.977 0 0112.004 15c4.904 0 9.26 2.354 11.996 5.993zM16.002 8.999a4 4 0 11-8 0 4 4 0 018 0z"></path>
																						</svg>
																					</span>
																					<span class="username">
																						<a href="javascript:;">Réponse publié par
																							{{reply.user.firstname}}
																							{{reply.user.lastname}}</a>
																					</span>
																					<span class="pull-right text-muted">Le
																						{{reply.createdAt|date("d/m/Y") }}
																						à
																						{{reply.createdAt|date("H:i") }}</span>
																				</p>
																				<div class="container pt-2">{{reply.content|raw}}</div>
																			</div>
																		</div>
																	{% endfor %}
																</li>
															{% endif %}
														{% endfor %}
													</ul>

												{% else %}

													<p>Pas de commentaire !</p>

												{% endif %}
												<!-- end timeline -->
											</div>
											<!-- end #profile-post tab -->
										</div>
										<!-- end tab-content -->
									</div>
									<!-- end profile-content -->
								</div>
							</div>
						</div>
					</div>
				{% endif %}
				{% if  role == "ROLE_MARQUE" %}
					{% if offer.brandId.id == brand.id  %}
						<a href="{{ path('offer_edit', {'id': offer.id}) }}" class="inline-block px-6 py-2 text-xs font-medium leading-6 text-center text-white uppercase transition bg-green-500 rounded shadow ripple hover:shadow-lg hover:bg-green-600 focus:outline-none waves-effect">Modifier l'offre</a>


						{% if isPending == "pending" %}
							<a href="{{ path('offer_show_applications', {'id': offer.id}) }}" class="inline-block px-6 py-2 text-xs font-medium leading-6 text-center text-white uppercase transition bg-pink-500 rounded shadow ripple hover:shadow-lg hover:bg-pink-600 focus:outline-none waves-effect">Voir les candidatures</a>
						{% endif %}
						<br>
						<br>

						<a href="{{ path('offer_delete', {'id': offer.id, 'token': csrf_token('delete_offer' ~ offer.id)}) }}" class="inline-block text-xs font-medium leading-6 text-red-700 underline uppercase transition bg-transparent rounded ripple hover:text-red-900 focus:outline-none waves-effect" x-on:click="return confirm('Etes vous sur de supprimer cette offre ?')">Supprimer l'offre</a>
					{% endif %}


					<div class="container pt-5">
						<div class="row">
							<div class="col-md-12">
								<div
									id="content" class="content content-full-width">
									<!-- begin profile -->
									<div class="profile">
										<div
											class="profile-header">
											<!-- BEGIN profile-header-cover -->
											<div class="profile-header-cover"></div>
											<!-- END profile-header-cover -->
											<!-- BEGIN profile-header-content -->
											<div
												class="profile-header-content">

												<!-- BEGIN profile-header-info -->
												<div class="profile-header-info">
													<h4 class="text-gray-700">
														Commentaires sur l'offre
													</h4>
													<p class="m-b-10">Répondre à un commentaire sur cette offre</p>
												</div>
												<!-- END profile-header-info -->
											</div>
											<!-- END profile-header-content -->
										</div>
									</div>
									<!-- end profile -->

									<div class="container pt-5" id="ajout-commentaire">
										<div class="col-xs2 col-sm3">
											<h4 class="text-gray-700 mb-4">
												Répondre à un commentaire
											</h4>
											{{ form_start(commentForm) }}
											{{ form_row(commentForm.content) }}
											<div id="editor"></div>
											<button class="inline-block px-6 py-2 text-xs font-medium leading-6 text-center text-white uppercase transition bg-indigo-500 rounded-full shadow ripple hover:shadow-lg hover:bg-indigo-600 focus:outline-none waves-effect">
												Valider
											</button>
											{{ form_end(commentForm) }}
										</div>
									</div>

									<!-- begin profile-content -->
									<div
										class="profile-content">
										<!-- begin tab-content -->
										<div
											class="tab-content p-0">
											<!-- begin #profile-post tab -->
											<div
												class="tab-pane fade active show" id="profile-post">
												<!-- begin timeline -->

												<h4 class="text-gray-700 mb-4">
													Liste des commentaires
												</h4>

												<ul class="timeline">
													{% for comment in offer.comments|reverse %}
														{% if comment.parent == null %}
															<li>
																<!-- begin timeline-time -->
																<div class="timeline-time">
																	<span class="date">Le
																		{{comment.createdAt|date("d/m/Y") }}</span>
																	<span class="time">à
																		{{comment.createdAt|date("H:i") }}</span>
																</div>
																<!-- end timeline-time -->

																<!-- begin timeline-icon -->
																<div class="timeline-icon">
																	<a href="javascript:;">&nbsp;</a>
																</div>
																<!-- end timeline-icon -->

																<!-- begin timeline-body -->
																<div class="timeline-body">
																	<div class="timeline-header">
																		<span class="userimage">
																			<svg class="w-full h-full text-gray-300" fill="currentColor" viewbox="0 0 24 24">
																				<path d="M24 20.993V24H0v-2.996A14.977 14.977 0 0112.004 15c4.904 0 9.26 2.354 11.996 5.993zM16.002 8.999a4 4 0 11-8 0 4 4 0 018 0z"></path>
																			</svg>
																		</span>
																		<span class="username">
																			<a href="javascript:;">Commentaire de
																				{{comment.user.firstname}}
																				{{comment.user.lastname}}</a>
																			<small></small>
																		</span>
																		<span class="pull-right text-muted">{{ comment.replies|length}}
																			réponse(s)</span>
																	</div>
																	<div class="container pt-2">
																		<p>{{comment.content|raw}}</p>
																	</div>

																	<div class="timeline-footer">
																		<a href="#ajout-commentaire" data-reply data-id="{{comment.id}}" class="inline-block px-6 py-2 text-xs font-medium leading-6 text-center text-white uppercase transition bg-pink-500 rounded shadow ripple hover:shadow-lg hover:bg-pink-600 focus:outline-none waves-effect">
																			Répondre
																		</a>
																	</div>

																	{# On affiche les réponses #}
																	{% for reply in comment.replies %}
																		<div class="timeline-footer">
																			<div class="timeline-header">
																				<span class="userimage">
																					<svg class="w-full h-full text-gray-300" fill="currentColor" viewbox="0 0 24 24">
																						<path d="M24 20.993V24H0v-2.996A14.977 14.977 0 0112.004 15c4.904 0 9.26 2.354 11.996 5.993zM16.002 8.999a4 4 0 11-8 0 4 4 0 018 0z"></path>
																					</svg>
																				</span>
																				<span class="username">
																					<a href="javascript:;">Réponse publié par
																						{{reply.user.firstname}}
																						{{reply.user.lastname}}</a>
																				</span>
																				<span class="pull-right text-muted">Le
																					{{reply.createdAt|date("d/m/Y") }}
																					à
																					{{reply.createdAt|date("H:i") }}</span>
																			</p>
																			<div class="container pt-2">{{reply.content|raw}}</div>
																		</div>
																	</div>
																{% endfor %}
															</li>
														{% endif %}
													{% endfor %}
												</ul>
												<!-- end timeline -->
											</div>
											<!-- end #profile-post tab -->
										</div>
										<!-- end tab-content -->
									</div>
									<!-- end profile-content -->
								</div>
							</div>
						</div>
					</div>
				{% endif %}
			{% endfor %}<hr></div><link rel="stylesheet" href="{{ asset('css/comments.css') }}"/><link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet"><link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet"></div>
{% endblock %}
{% block javascripts %}
	<script src="{{ asset('ckeditor5/ckeditor.js') }}"></script>
	<script src="{{ asset('js/ckeditor.js') }}"></script>
	<script>
		window.onload = () => { // On met un écouteur d'évènements sur tous les boutons répondre
document.querySelectorAll("[data-reply]").forEach(element => {
element.addEventListener("click", function () {
document.querySelector("#comments_parentid").value = this.dataset.id;
});
});
}
let caroulix = new Caroulix('#carousel');
let modal = new Modal('#modale-contact');
	</script>
{% endblock %}
