{% extends "admin/base_admin.html.twig" %}


{% block title %}ADMIN
{% endblock %}


{% block body %}
	<div class="bg-white shadow">
		<div class="px-4 sm:px-6 lg:max-w-6xl lg:mx-auto lg:px-8">
			<div class="py-6 md:flex md:items-center md:justify-between lg:border-t lg:border-gray-200">
				<div
					class="flex-1 min-w-0">
					<!-- Profile -->
					<div class="flex items-center">
						<img class="hidden w-16 h-16 rounded-full sm:block" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&amp;ixqx=cII20c177f&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=facearea&amp;facepad=2.6&amp;w=256&amp;h=256&amp;q=80" alt="">
						<div>
							<div class="flex items-center">
								<img class="w-16 h-16 rounded-full sm:hidden" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&amp;ixqx=cII20c177f&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=facearea&amp;facepad=2.6&amp;w=256&amp;h=256&amp;q=80" alt="">
								<h1 class="ml-3 text-2xl font-bold leading-7 text-gray-900 sm:leading-9 sm:truncate">
									Bonjour,
									{{app.user.firstname}}
								</h1>
							</div>
							<dl class="flex flex-col mt-6 sm:ml-3 sm:mt-1 sm:flex-row sm:flex-wrap">
								<dt class="sr-only">Company</dt>
								<dd class="flex items-center text-sm font-medium text-gray-500 capitalize sm:mr-6">
									Admin
								</dd>
							</dl>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="mt-8">
		<div class="max-w-6xl px-4 mx-auto sm:px-6 lg:px-8">
			<h2 class="text-lg font-medium leading-6 text-gray-900">Aperçu</h2>
			<div
				class="grid grid-cols-1 gap-5 mt-2 sm:grid-cols-2 lg:grid-cols-3" x-max="1">
				<!-- Card -->

				<div class="overflow-hidden bg-white rounded-lg shadow">
					<div class="p-5">
						<div class="flex items-center">
							<div class="flex-shrink-0">
								<svg class="w-6 h-6 text-gray-400" x-description="Heroicon name: outline/user-group" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor" aria-hidden="true">
									<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z"></path>
								</svg>
							</div>
							<div class="flex-1 w-0 ml-5">
								<dl>
									<dt class="text-sm font-medium text-gray-500 truncate">
										Compte utilisateur
									</dt>
									<dd>
										<div class="text-lg font-medium text-gray-900">
											{{countUsers}}

										</div>
									</dd>
								</dl>
							</div>
						</div>
					</div>
					<div class="px-5 py-3 bg-gray-50">
						<div class="text-sm">
							<a href="{{path('dashbaord_admin_list_users')}}" class="font-medium text-cyan-700 hover:text-cyan-900">
								View all
							</a>
						</div>
					</div>
				</div>

				<div class="overflow-hidden bg-white rounded-lg shadow">
					<div class="p-5">
						<div class="flex items-center">
							<div class="flex-shrink-0">
								<svg class="w-6 h-6 text-gray-400" x-description="Heroicon name: outline/refresh" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor" aria-hidden="true">
									<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15"></path>
								</svg>
							</div>
							<div class="flex-1 w-0 ml-5">
								<dl>
									<dt class="text-sm font-medium text-gray-500 truncate">
										Offres
									</dt>
									<dd>
										<div class="text-lg font-medium text-gray-900">
											-$19,500.00
										</div>
									</dd>
								</dl>
							</div>
						</div>
					</div>
					<div class="px-5 py-3 bg-gray-50">
						<div class="text-sm">
							<a href="#" class="font-medium text-cyan-700 hover:text-cyan-900">
								View all
							</a>
						</div>
					</div>
				</div>

				<div class="overflow-hidden bg-white rounded-lg shadow">
					<div class="p-5">
						<div class="flex items-center">
							<div class="flex-shrink-0">
								<svg class="w-6 h-6 text-gray-400" x-description="Heroicon name: outline/check-circle" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor" aria-hidden="true">
									<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
								</svg>
							</div>
							<div class="flex-1 w-0 ml-5">
								<dl>
									<dt class="text-sm font-medium text-gray-500 truncate">
										Processed (last 30 days)
									</dt>
									<dd>
										<div class="text-lg font-medium text-gray-900">
											$20,000
										</div>
									</dd>
								</dl>
							</div>
						</div>
					</div>
					<div class="px-5 py-3 bg-gray-50">
						<div class="text-sm">
							<a href="#" class="font-medium text-cyan-700 hover:text-cyan-900">
								View all
							</a>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
{% endblock %}

{% block javascript %}
	{{parent()}}
	{{ encore_entry_script_tags('list-users') }}
{% endblock %}
