{% extends 'base.html.twig' %}

{% block title %}Voir l'offre
{% endblock %}

{% block body %}

	<h1>{{ offer.name|capitalize }}</h1>
	<h2>Marque : {{ offer.brandId.name}} </h2>
	<div class="card mb-3">
		<div class="card-body">
			<p>Nom :
				{{ offer.name|capitalize }}</p>
			<p>Description :
				{{ offer.description ? offer.description|slice(0, 50) : 'NC'}}
			</p>
			<p>Dates :
				{{ offer.dateStart ? offer.dateStart|date('m/d/Y') : 'NC'}}
				-
				{{ offer.dateEnd ? offer.dateEnd|date('m/d/Y') : 'NC'}}
			</p>
			<div class="card-action">
				{% if app.user.roles[0] == "ROLE_INFLUENCEUR" %}
					<a href="{{ path('offer_apply', {'id': offer.id}) }}" class="btn btn-success">Postuler</a>
				{% endif %}
				{% if app.user.roles[0] == "ROLE_MARQUE" %}
					{% if offer.brandId.id == brand.id  %}
						<a href="{{ path('offer_edit', {'id': offer.id}) }}" class="btn btn-success">Modifier l'offre</a>
						<a href="{{ path('offer_delete', {'id': offer.id, 'token': csrf_token('delete_offer' ~ offer.id)}) }}" class="btn btn-danger">Supprimer l'offre</a>
					{% endif %}
				{% endif %}
			</div>
		</div>
	</div>
	<a href="{{ path('offer_index') }}" class="btn btn-primary">Toutes les offres</a>

{% endblock %}
