{% extends 'base.html.twig' %}

{% block title %}Offre {% endblock %}
 

{% block body %}

    <h1>{{ offer.name|capitalize }}</h1>

<div class = "table-responsive">
    <table class="table table-striped">
     <tr>
            <td>Titre : {{ offer.name ? offer.name|slice(0, 50) : 'NC'}}</td>
        </tr>
        <tr>
            <td>Dates : {{ offer.dateStart ? offer.dateStart|date('m/d/Y') : 'NC'}} - {{ offer.dateEnd ? offer.dateEnd|date('m/d/Y') : 'NC'}} </td>
        </tr>
        <tr>
            <td>Description : {{ offer.decription ? offer.decription|slice(0, 50) : 'NC'}} </td>
        </tr>
    </table>
 </div>  
    
        <a href="{{ path('offer_apply', {'id': offer.id}) }}" class="btn green">Postuler à l'offre</a> 
        <a href="{{ path('offer_index') }}" class="btn btn-primary">Toutes les offres</a> <br>
         
         {# Conditionner le rendu visible seulement quand on est l'auteur de l'offre #}
        <a href="{{ path('offer_edit', {'id': offer.id}) }}" class="btn blue">Modifier l'offre</a> 
        <a href="{{ path('offer_delete', {'id': offer.id, 'token': csrf_token('delete_offer' ~ offer.id)}) }}" class="btn red">Supprimer l'offre</a>   

      

        <br>
{% endblock %}