{% extends 'base.html.twig' %}

{% block title %}
	Likey - Inscription
{% endblock %}


{% block body %}
	{{ form_start(formUser) }}
	<h3>S'inscrire</h3>
	<hr>
	<div class="form">
		<div class="formUser">
			{{ form_widget(formUser) }}
		</div>
		<div class="formBrand">
			<h5>Informations de la marque :</h5>
			{{ form_widget(formBrand) }}
		</div>
		<div class="formInfluencer">
			<h5>Informations de l'influenceur :</h5>
			{{ form_widget(formInfluencer) }}
		</div>
		<button type="submit" class="btn btn-primary" id="submitBtn">S'inscrire</button>
	</div>
	
	{% for label, messages in app.flashes %}
		{% for message in messages %}
			M.toast({html: '{{ message }}', classes: '{{ label }}rounded'});
		{% endfor %}
	{% endfor %}

	<script type="text/javascript" src="//code.jquery.com/jquery-3.3.1.js"></script>
	<script type="text/javascript">
		$(document).ready(function()
		{
			$(".formBrand").hide();
			$(".formInfluencer").hide();
			$("#submitBtn").hide();

			$("#register_roles").change(function(){
				if($( "#register_roles option:selected" ).val() == "ROLE_MARQUE"){
					$(".formInfluencer").hide();
					$(".formBrand").show();
					$("#submitBtn").show();
				}
				if($( "#register_roles option:selected" ).val() == "ROLE_INFLUENCEUR"){
					$(".formInfluencer").show();
					$(".formBrand").hide();
					$("#submitBtn").show();
				}
			});
			
			/*var checked = "";
			console.log("hello");
			var M = false;
			var I = false;
			
			var regex = /[IM]/g;
			var result = checked.match(regex);
			if(result == "M") console.log("marque");*/
		});
	</script>

{% endblock %}
