{% extends 'base.html.twig' %}

{% block title %}
	Likey - Inscription
{% endblock %}


{% block body %}
	<h3>S'inscrire</h3>
	<hr>
	<main class="pb-10 mx-auto max-w-7xl lg:py-12 lg:px-8">
		{% for message in app.flashes('error') %}
			<div class="col-xs4">
				<div class="p-3 my-2 rounded-2 error">{{message}}</div>
			</div>
		{% endfor %}

		  <div class="space-y-6 sm:px-6 lg:px-0 lg:col-span-9  bg-white">
			<div class="shadow sm:rounded-md sm:overflow-hidden">
				<div class="py-6 px-4 sm:p-6">
					{{ form_start(form) }}
					<div class="influencer">
						{{ dump(form.influencer) }}
						{% for value in form.influencer %}
							<li>{{ form_row(value.name) }}</li>
						{% endfor %}
					</div>
					{{ form_widget(form) }}
					<button type="submit" class="btn btn-primary mt-3">S'inscrire</button>
					{{ form_end(form) }}
				</div>
			</div>
		</div>


	</main>
	{% for label, messages in app.flashes %}
		{% for message in messages %}
			M.toast({html: '{{ message }}', classes: '{{ label }}rounded'});
		{% endfor %}
	{% endfor %}

{% endblock %}
