{% extends "base.html.twig" %}


{% block title %}ADMIN
{% endblock %}


{% block body %}
	<h1 class="mb-5">Liste des utilisateurs</h1>

	<div id="user-list">

		<div class="input-group">
			<input class="form-control py-2 border-right-0 border search" type="search" placeholder="Rechercher" id="example-search-input">
			<span class="input-group-append">
				<div class="input-group-text bg-transparent">
					<i class="fa fa-search"></i>
				</div>
			</span>
		</div>

		<table class="table table-striped mt-12">
			<thead>

				<tr>
					<td class="sort" data-sort="email">Email</td>
					<td class="sort" data-sort="firstname">Nom</td>
					<td class="sort" data-sort="lastname">Prénom</td>
					<td class="sort" data-sort="age">Date de naissance</td>
					<td class="sort" data-sort="roles">Role</td>
				</tr>
			</thead>

			<tbody class="list">

				{% for user in users %}
					<tr>
						<td class="email">{{ user.email }}</td>
						<td class="firstname">{{ user.firstname }}</td>
						<td class="lastname">{{ user.lastname }}</td>
						<td class="age">{{ user.age |date('d-m-Y')}}</td>
						<td class="roles">
							{% for role in user.roles %}
								"{{ role}}"
							{% endfor %}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
