<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	{% if app.user %}
		<a class="navbar-brand" href="{{path('users_data')}}">LIKEY</a>
	{% else %}
		<a class="navbar-brand" href="{{path('home')}}">LIKEY</a>
	{% endif %}
	{% if  app.user %}
		<form class="my-2 form-inline my-lg-0">
			<input class="form-control mr-sm-2" type="text" placeholder="Rechercher">
			<button class="btn btn-primary" type="submit">Rechercher</button>
		</form>

	{% endif %}

	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarColor03">
		<ul class="mr-auto navbar-nav"></ul>
		{% if not app.user %}
			<a class="btn btn-primary" href="{{path('register_index')}}">
				Inscription
			</a>
			<a class="ml-3 btn btn-secondary" href="{{path('app_login')}}">
				Connexion
			</a>

		{% else %}

			{% if app.user and app.user.roles[0] == "ROLE_INFLUENCEUR" %}

				<a class="mr-3 text-muted" href=" {{path('offer_index')}} ">Liste des offres</a>
				<a href="{{ path('all_brands') }}" class="btn btn-secondary" class="btn-floating btn-large waves-effect waves-light">
					Annuaire marques
				</a>
			{% else %}
				<a href="{{ path('all_influencers') }}" class="btn btn-secondary" class="btn-floating btn-large waves-effect waves-light">
					Annuaire influenceurs
				</a>
				<a href="{{ path('offer_new') }}" class="ml-3 btn btn-primary" class="btn-floating btn-large waves-effect waves-light">
					Créer une nouvelle offre
				</a>
			{% endif %}
			<ul class="navbar-nav">
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Mon profil</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="{{ path('users_complete') }}">Mon compte</a>
						{% if app.user.roles[0] == "ROLE_INFLUENCEUR" %}
							<a class="dropdown-item" href="{{ path('users_offers') }}">Mes offres postulés</a>
						{% endif %}
						<a class="dropdown-item" href="{{ path('offer_index') }}">List des offres</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="{{path('app_logout')}}">Déconnexion</a>
					</div>
				</li>
			</ul>
		</li>
	{% endif %}
</div></nav>
