<nav class="navbar navbar-expand-lg navbar-dark {% if is_granted('ROLE_ADMIN') %}bg-red {% else %}bg-dark{% endif %}">
	{% if app.user %}
		<a class="navbar-brand" href="{{path('users_data')}}">LIKEY</a>
	{% else %}
		<a class="navbar-brand" href="{{path('home')}}">LIKEY</a>
	{% endif %}


	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarColor03">
		<ul class="navbar-nav mr-auto"></ul>
		{% if not app.user %}
			<a class="btn btn-primary" href="{{path('register_index')}}">
				Inscription
			</a>
			<a class="btn btn-secondary ml-3" href="{{path('app_login')}}">
				Connexion
			</a>

		{% else %}

			{% if app.user and app.user.roles[0] == "ROLE_INFLUENCEUR" %}

				<a class="mr-3 text-muted" href=" {{path('offer_index')}} ">Liste des offres</a>
			{% else %}
				<a href="{{ path('offer_new') }}" class="btn btn-primary" class="btn-floating btn-large waves-effect waves-light">
					Créer une nouvelle offre
				</a>
			{% endif %}
			<ul class="navbar-nav">
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Mon profil</a>
					{% if is_granted('ROLE_ADMIN') %}
						<div class="dropdown-menu">
							<a class="dropdown-item" href="{{ path('home_admin') }}">List des utilisateurs</a>
							{# <a class="dropdown-item" href="{{ path('offer_index') }}">Mes offres</a> #}
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="{{path('app_logout')}}">Déconnexion</a>
						</div>
					{% else %}
						<div class="dropdown-menu">
							<a class="dropdown-item" href="{{ path('users_complete') }}">Mon compte</a>
							<a class="dropdown-item" href="{{ path('offer_index') }}">Mes offres</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="{{path('app_logout')}}">Déconnexion</a>
						</div>
					{% endif %}


				</li>
			</ul>
		</li>
	{% endif %}
</div></nav>
