{% extends 'base.html.twig' %}

{% block title %}Profil de
	{{ app.user.firstname }}
	{{ app.user.lastname }}
{% endblock %}

{% block body %}
	<main class="pb-10 mx-auto max-w-7xl lg:py-12 lg:px-8">
		{% for message in app.flashes('error') %}
			<div class="col-xs4">
				<div class="p-3 my-2 rounded-2 error">{{message}}</div>
			</div>
		{% endfor %}

		<div class="space-y-6 sm:px-6 lg:px-0 lg:col-span-9  bg-white">
			<div class="shadow sm:rounded-md sm:overflow-hidden">
				<div class="py-6 px-4 sm:p-6">
					<h3>Gérer mon compte</h3>
					{{ form_start(form) }}
					{{ form_widget(form) }}
					<button type="submit" class="btn btn-primary mt-3">Sauvegarder</button>
					{{ form_end(form) }}
				</div>
				<div class="py-6 px-4 sm:p-6">
					{{ include('users/deleteProfile.html.twig') }}
				</div>
			</div>
		</div>
	</main>
{% endblock %}
