{% extends 'base.html.twig' %}

{% block body %}

	<div class="container pt-5">
		<h2>Mes offres postulés</h2>
		{% if applications is empty  %}
			<div>
				<p>
					Vous avez postuler à aucune offre</p>
				<p class="mb-0">
					<a href="{{ path('offer_index') }}" class="btn btn-primary">
						Afficher les offres</a>
				</p>
			</div>
		{% endif %}

		{% for application in applications %}
			<div class=" card mt-5">
				<div class="card-body">
					<h4 class="card-title">{{ application.offer.name }}</h4>
					<h6 class="card-subtitle mb-2 text-muted">
						Offre n°
						{{ application.id }}
					</h6>
					<p class="card-text">
						{{ application.offer.description }}
					</p>
					<a href="{{ path('offer_show', {"id": application.id}) }}" class="card-link">Voir l'offre</a>
				</div>
			</div>

		{% endfor %}

	</div>

{% endblock %}
