{% extends 'base.html.twig' %}

{% block body %}

	<div class="container pt-5">
		<h2 class="mb-5">Mes offres postulés</h2>
		{% if applications is empty  %}
			<div>
				<p>
					Vous avez postuler à aucune offre</p>
				<p class="mb-0 ">
					<a href="{{ path('offer_index') }}" class="btn btn-primary">
						Afficher les offres</a>
				</p>
			</div>
		{% endif %}
		{% for offer in offers  %}
			{% for app in offerApplied %}
				{% set newArray = [] %}
				{% if app.offer.id not in newArray %}
					{% if app.offer.id  == offer.id %}
						<div class="mb-3 card">
							<div class="card-body">
								<div class="mb-3">
									{% if app.status == "pending" %}
										<div class="flex justify-end">
											<div class="relative flex justify-center cursor-pointer group w-28">
												<svg class="w-6 h-6 mr-4 text-grey-400" x-description="Heroicon name: outline/clock" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor" aria-hidden="true">
													<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z"></path>
												</svg>
												<div class="absolute z-10 px-3 py-2 text-xs text-center text-white bg-black rounded-lg opacity-0 pointer-events-none w-28 group-hover:opacity-100 bottom-full -left-1/2 ml-14">
													Offre en cours de traitement
													<svg class="absolute left-0 w-full h-2 text-black top-full" x="0px" y="0px" viewbox="0 0 255 255" xml:space="preserve"><polygon class="fill-current" points="0,0 127.5,127.5 255,0"/></svg>
												</div>
											</div>
										{% endif %}

									</div>
									<p class="brand">Marque :
										{{ offer.brandId.name|capitalize }}</p>
									<p class="name">Nom :
										{{ offer.name|capitalize }}</p>
									<p class="description">Description :
										{{ offer.description ? offer.description|slice(0, 50) : 'NC'}}
									</p>

									<p>Dates de début:
										{{ offer.dateStart ? offer.dateStart|date('d/m/Y') : 'NC'}}
									</p>
									<p>Dates de fin:
										{{ offer.dateEnd ? offer.dateEnd|date('d/m/Y') : 'NC'}}
									</p>
									<div class="card-action">
										<a href="{{ path('offer_show', {'id': offer.id}) }}" class="btn-primary btn">Voir l'offre</a>
									</div>
								</div>
							</div>
						{% endif %}
						{% set newArray = newArray|merge([app.offer.id]) %}
					{% endif %}
				{% endfor %}
			{% endfor %}
		</div>
	{% endblock %}
