<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css">
		<link rel="shortcut icon" href="{{ absolute_url('app.css') }}"> {% block stylesheets %}{% endblock %}
		</head>

		<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
			<a class="navbar-brand" href="/">NomDuSite</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarColor01">
				{% if not app.user %}
					<ul class="navbar-nav mr-auto">
						<li class="nav-item">
							<a class="nav-link" href="{{path('inscription_index')}}">Inscription</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{path('app_login')}}">Connexion</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{path('offer_index')}}">Offres</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/Apropos">A propos</a>
						</li>

					</ul>
				{% else %}
					<ul class="navbar-nav mr-auto">
						<li class="nav-item">
							<a class="nav-link" href="{{path('users_data')}}">Mon profil</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{path('users_profil_modifier')}}">Edit profil</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{path('users_pass_modifier')}}">Edit password</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{path('app_logout')}}">Déconnexion</a>
						</li>
					</ul>
				{% endif %}
			</div>
		</nav>

		<body>
			<div class="container"> {% block body %}{% endblock %}
				</div>
				{% block javascripts %}{% endblock %}
				        <script>
							document.addEventListener('DOMContentLoaded', function() {
								{% for label, messages in app.flashes %}
									{% for message in messages %}
										M.toast({html: '{{ message }}', classes: '{{ label }} rounded'});
									{% endfor %}
								{% endfor %}
							});
        				</script>
			</body>
		</html>
